<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TypeTemplateMapper" >
	<!-- 多条件查询类型 -->
	<select id="findAll" resultType="typeTemplate">
		select * from tb_type_template
		<where>
			<if test="typeTemplate != null">
				<!-- 判断类型名称 -->
				<if test="typeTemplate.name != null and typeTemplate.name != ''">
					name like CONCAT('%',#{typeTemplate.name},'%')
				</if>
			</if>
		</where>
		order by id
	</select>

	<!-- 批量删除类型模板 -->
	<delete id="deleteAll">
		delete from tb_type_template where id in
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
</mapper>